<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vukan.com.chatRooms">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:appCategory="social"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="false"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="o">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@android:drawable/sym_action_chat" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/primary" />

        <activity
            android:name=".ChatRulesActivity"
            android:label="@string/chat_rules_activity"
            android:parentActivityName=".MainActivity"
            android:rotationAnimation="crossfade" />

        <activity
            android:name=".SubCategoriesActivity"
            android:label="@string/subcategories_activity"
            android:parentActivityName=".MainActivity"
            android:rotationAnimation="crossfade" />

        <activity
            android:name=".ChatActivity"
            android:colorMode="hdr"
            android:label="@string/chat_activity"
            android:parentActivityName=".SubCategoriesActivity"
            android:rotationAnimation="crossfade" />

        <activity

            android:name=".UpdateProfileActivity"
            android:label="@string/update_profile_activity"
            android:parentActivityName=".MainActivity"
            android:rotationAnimation="crossfade" />

        <activity
            android:name=".MainActivity"
            android:colorMode="wideColorGamut"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="vukan97.page.link/chat_rooms"
                    android:scheme="http" />
                <data
                    android:host="vukan97.page.link/chat_rooms"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="chat_rooms.com"
                    android:scheme="http" />
                <data
                    android:host="chat_rooms.com"
                    android:scheme="https" />
            </intent-filter>

        </activity>

    </application>

</manifest>